name: deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout private repo
        uses: actions/checkout@v6
        with:
          repository: geoochi/log
          token: ${{ secrets.GH_PAT }}
          path: log
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: log/dist
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
